<div class="movieview-container">
  <div class="movieview">
    <div class="movieview-image" style="background-image: url('{{ movie?.attributes.imageUrl }}');"></div>
    <div class="movieview-details">
      <div class="movieview-name">
        <h1>{{ movie?.attributes.name }} ({{ movie?.attributes.year }})</h1>
      </div>
      <div style="padding: 5px 0;">
        <span>
          <button style="margin-left: 0;" class="btn" (click)="showEditMovieDialog()">
            Edit
          </button>
          <button class="btn btn-danger" (click)="deleteMovie()">
            Delete
          </button>
        </span>
      </div>
      <div style="padding: 5px 0;">
        <span> Genre: {{ movie?.attributes.genre }}</span>
      </div>
      <div style="padding: 5px 0;">
        <span>Year: {{ movie?.attributes.year }}</span>
      </div>
      <div class="movieview-synopsis-cnt">
        <h2>Synopsis</h2>
        <div class="movie-synopsis">{{ movie?.attributes.synopsis }}</div>
      </div>
    </div>
  </div>
  <ng-container #vcRef></ng-container>
  <ng-template #modalRef>
    <app-edit-movie (closeDialog)="closeDialog()" [movie]="movie"></app-edit-movie>
  </ng-template>
</div>