<div>
  <ng-container *ngIf="data">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Content</th>
          <th>Category</th>
          <th>Image</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of data">
          <td></td>
          <td>{{a.attributes.title}}</td>
          <td>{{a.attributes.content}}</td>
          <td>{{a.attributes.category}}</td>
          <td>{{a.attributes.image}}</td>
          <td>
            <a [routerLink]="['/article/',a.id]">Detail</a>
            <a>Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</div>
